.p-main {
    background-color: #FFFDFA;
    &__background {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 50;
        background: #000;
        opacity: 0;
        visibility: hidden;
        transition: all 0.6s;
        cursor: pointer;
        &.is-open {
            opacity: 0.5;
            visibility: visible;
            @include pc {
                visibility: hidden;
            }
        }
    }
    &__wrapper {
        width: 100%;
        height: 285px;
        margin-bottom: 36px;
        position: relative;
        @include tb {
            margin-bottom: 40px;
        }
        @include pc {
            height: 530px;
            margin-bottom: 70px
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 100%;
        }
        &__title {
            position: absolute;
            left: 25px;
            top: 50%;
            transform: translate(0, -50%);
            @include tb{
                left: 86px;
            }
            @include pc{
                left: 86px;
            }
            p {
                color: #FFFFFF;
                font-family: 'M PLUS 1p', sans-serif;
                font-size: 16px;
                font-weight: bold;
                margin-top: 21px;
            }
        }
    }
    &__flex {
        width: 90%;
        margin: 0 auto;
        @include tb {
            display: flex;
            justify-content: space-between;
        }
        &__left {
            margin-bottom: 20px;
            position: relative;
            @include tb {
                width: 47%;
                margin-bottom: 40px;
            }
            h3 {
                font-family: 'Roboto', sans-serif;
                font-size: 41px;
                color:#EAEAEA;
                position: absolute;
                top: 25px;
                left: 12px;
                @include pc {
                    font-size: 80px;
                }
            }
        }
        &__right {
            margin-bottom: 50px;
            position: relative;
            @include tb {
                width: 47%;
                margin-bottom: 40px;
            }
            h3 {
                font-family: 'Roboto', sans-serif;
                font-size: 41px;
                color:#FFFFFF;
                position: absolute;
                top: 25px;
                left: 12px;
                @include pc {
                    font-size: 80px;
                }
            }
        } 
        &__img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    &__under-bar {
        position: relative;
        &::after {
            content: "";
            width: 40px;
            height: 4px;
            background-color: #fff;
            position: absolute;
            top: 60px;
            left: 0;
            @include tb {
                width: 75px;
                top: 66px;
            }
            @include pc {
                width: 63px;
                top: 110px;
            }
        }
    }
    &__opacity {
        width: 94%;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        &-box{
            background-color: rgba(255,255,255,.8);
            padding: 26px 12px 54px 12px;
            margin-top: 10px;
            h4 {
                font-family: 'M PLUS 1p', sans-serif;
                font-size: 24px;
                font-weight: bold;
                padding-bottom: 30px;
                color: #3C2A10;
            }
            p {
                font-size: 16px;
                line-height: 23px;
                color: #3C2A10;
            }
        }
    }
    &__map {
        width:100%;
        position: relative;
        top: 0px;
        background-color: #000;
        overflow: hidden;
        iframe {
            width: 100%;
            min-height: 691px;
            object-fit: cover;
            border:0; filter:opacity(60%);
            -webkit-filter:opacity(60%)
        }
        &__opacity {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60%;
            background-color: #000;
            opacity: 0.29;
            @include tb {
                height: 100%;
            }
            @include pc {
                width: 60%;
            }
        }
        &__text {
            padding: 48px 42px;
            position: absolute;
            top: 0px;
            color: #fff;
            @include pc {
                padding: 90px 120px;
            }
            &__ttl {
                font-size: 30px;
                font-weight: bold;
                line-height: normal;
                margin-bottom: 52px;
                @include pc {
                    font-size: 36px;
                    margin-bottom: 116px;
                }
            }
            &__detail { 
                font-size: 16px;
                font-weight: bold;
                line-height: 33px;
                height: 100%;
            }
        }
        &__under-bar {
            position: relative;
            &::after {
                content: "";
                width: 75px;
                height: 2px;
                background-color: #fff;
                position: absolute;
                top: 58px;
                left: 0;
                @include tb {
                    top: 58px;
                }
                @include pc {
                    top: 98px;
                }
            }
        }
    }
}

.p-archive {
    width: 90%;
    margin: 0 auto;
    font-family: 'M PLUS 1p', sans-serif;
    &__text {
        color: #3C2A10;
        h3 {
            font-size: 28px;
            font-weight: bold;
            padding-bottom: 40px;
        }
        p {
            font-size: 16px;
            line-height: 23px;
            margin-bottom: 24px;
            @include pc {
                margin-bottom: 78px;
            }
        }
    }
    &__menu {
        background-color: #3C2B1C;
        color: #FFFFFF;
        margin-bottom: 21px;
        img {
            width: 100%;
            object-fit: cover;
            @include tb {
                width: 50%;
            }
        }
        @include tb {
            display: flex;
        }
        &__text {
            font-family: 'M PLUS 1p', sans-serif;
            padding: 36px 30px 42px 30px;
            h4 {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 30px;
            }
            h5 {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 20px;
            }
            p {
                font-size: 16px;
                line-height: 23px;
            }
        }
    }
    &__button {
        background-color: #FFFFFF;
        color: #707070;
        width: 163px;
        height: 42px;
        margin: 42px auto 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-family: 'M PLUS 1p', sans-serif;
            font-size: 16px;
            font-weight: bold;
        }
    }
}