.p-main {
    &__background {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 50;
        background: #000;
        opacity: 0;
        visibility: hidden;
        transition: all 0.6s;
        cursor: pointer;
        &.is-open {
            opacity: 0.5;
            visibility: visible;
            @include pc {
                visibility: hidden;
            }
        }
    }
    &__wrapper {
        width: 100%;
        height: 285px;
        margin-bottom: 20px;
        position: relative;
        @include tb {
            margin-bottom: 40px;
        }
        @include pc {
            height: 530px;
        }
        &__img {
            width: 100%;
            height: 100%;
            position: relative;
            object-fit: cover;
        }
        h2 {
            position: absolute;
            top: 0px;
            line-height: 285px;
            left: 25px;
            @include tb{
                left: 86px;
            }
            @include pc{
                line-height: 530px;
                left: 86px;
            }
        }
    }
    &__flex {
        width: 90%;
        margin: 0 auto;
        @include tb {
            display: flex;
            justify-content: space-between;
        }
        &__left {
            margin-bottom: 20px;
            position: relative;
            @include tb {
                width: 47%;
                margin-bottom: 40px;
            }
            h3 {
                color:#EAEAEA;
                position: absolute;
                top: 25px;
                left: 1.2rem;
            }
        }
        &__right {
            margin-bottom: 20px;
            position: relative;
            @include tb {
                width: 47%;
                margin-bottom: 40px;
            }
            h3 {
                color:#fff;
                position: absolute;
                top: 25px;
                left: 1.2rem;
            }
        } 
        &__img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    &__under-bar {
        position: relative;
        &::after {
            content: "";
            width: 40px;
            height: 4px;
            background-color: #fff;
            position: absolute;
            top: 60px;
            left: 0;
            @include tb {
                width: 75px;
                top: 66px;
            }
            @include pc {
                width: 63px;
                top: 110px;
            }
        }
    }
    &__opacity {
        width: 94%;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        &-box{
            background-color: rgba(255,255,255,.8);
            padding: 26px 12px 54px 12px;
            margin-top: 10px;
            h4 {
                padding-bottom: 30px;
                color: #3C2A10;
            }
            p {
                font-size: 16px;
                line-height: 23px;
                color: #3C2A10;
            }
        }
    }
}
.p-map {
    width:100%;
    position: relative;
    top: 0px;
    background-color: #000;
        &__google {
            width: 100%;
            min-height: 691px;
            object-fit: cover;
            border:0; filter:opacity(60%);
            -webkit-filter:opacity(60%)
        }
    &__opacity {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60%;
        background-color: #000;
        opacity: 0.29;
        @include tb {
            height: 100%;
        }
        @include pc {
            width: 60%;
        }
    }
    &__text {
        padding: 48px 42px;
        position: absolute;
        top: 0px;
        color: #fff;
        @include pc {
            padding: 90px 120px;
        }
        &__ttl {
            font-size: 30px;
            font-weight: bold;
            line-height: normal;
            margin-bottom: 52px;
            @include pc {
                font-size: 36px;
                margin-bottom: 116px;
            }
        }
        &__detail { 
            font-size: 16px;
            font-weight: bold;
            line-height: 33px;
            height: 100%;
            overflow: hidden;
        }
    }
    &__under-bar {
        position: relative;
        &::after {
            content: "";
            width: 7.5rem;
            height: 2px;
            background-color: #fff;
            position: absolute;
            top: 58px;
            left: 0;
            @include tb {
                top: 58px;
            }
            @include pc {
                top: 98px;
            }
        }
    }
}